.code-selector {
  background-color: rgb(32, 49, 59);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;

  h3 {
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 5px;
  }

  a {
    color: #fff;
    display: inline-block;
    height: 42px;
    line-height: 32px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
    &.active,
    &:hover {
      border-bottom: 2px solid #fff;
    }
    .icon {
      left: 15px;
      position: absolute;
    }
  }

  li.with-icon a{
    padding-left: 55px;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
    }
  }
}

.example-content-well {
  padding: 10px 0;
  h1, h2, h3, h4, h5, h6 {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    border-top: none;
  }
  pre {
    padding: 15px;
    margin-top: 5px;
    margin-bottom: none;
  }
}

.quickstart-page {
  h2 {
    border-bottom: none;
    font-size: 23px;
    font-weight: lighter;
  }
  .TableOfContents-item{
    &.active {
      border-left-color: rgb(0, 125, 193);
    }
  }
}

#server-framework-selector {
  background-color: rgb(54, 69, 78);
}