.code-selector {
  background-color: rgb(32, 49, 59);
  border-radius: 5px;
  padding: 20px;
  h3 {
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
  }
  a {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
    &.active,
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
  margin-bottom: 10px;
}

.example-content-well {
  padding: 10px 0;
  h1, h2, h3, h4, h5, h6 {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    border-top: none;
  }
  pre {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: none;
  }
}

.quickstart-page {
  h2 {
    border-bottom: none;
    font-size: 23px;
    font-weight: lighter;
  }
  .TableOfContents-item{
    &.active {
      border-left-color: rgb(0, 125, 193);
    }
  }
}

#server-framework-selector {
  background-color: rgb(54, 69, 78);
}