.BlogPost {
	flex-grow: 1;
	margin: 0;
	overflow-wrap: break-word;

	& + & {
		border-top: 1px solid #979797;
		margin-bottom: 0;
		margin-top: get-spacing('medium');
		padding-top: get-spacing('medium');
	}

	&-header {
		@include margin(medium 0);
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&-title {
		@include font-size('new-h1');
		@include font-weight('new-h1');
		@include line-height('new-h1');
		@include margin(medium 0);

		&,
		a {
			@include color('default');
			@include transition(border normal, color normal);
		}

		a {
			border-bottom: 1px solid transparent;
			text-decoration: none;

			&:active,
			&:hover {
				border-color: currentcolor;
			}
		}
	}

	&-attribution {
		align-items: center;
		display: flex;
	}

	&-date {
		font-size: 24px;
		font-weight: 500;
		line-height: 24px;
	}

	&-author {
		font-size: 24px;
		font-weight: 500;
	}

	&-avatar {
		border-radius: 100%;
		display: block;
		flex-shrink: 0;
		height: 54px;
		margin-right: get-spacing('small');
		overflow: hidden;
		width: 54px;
	}

	&-content {
		@include color('charcoal');

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@include color('charcoal');
			@include margin(large 0 x-small);

			a {
				@include color('default');
				position: relative;
				text-decoration: none;

				&:active,
				&:hover {
					@include color('charcoal');
					text-decoration: none;
				}
			}

			&:hover a:after,
			a:active:after,
			a:hover:after {
				background: image_url('icon-link.svg') no-repeat center;
				background-size: contain;
				content: '';
				display: inline-block;
				height: 18px;
				margin-left: get-spacing('small');
				vertical-align: middle;
				width: 18px;
			}
		}

		h1 {
			font-size: 44px;
			font-weight: 500;
			line-height: 52px;
		}

		h2 {
			font-size: 38px;
			font-weight: 500;
			line-height: 54px;
		}

		h3 {
			font-size: 32px;
			font-weight: 500;
			line-height: 48px;
		}

		h4 {
			font-size: 24px;
			font-weight: 500;
			line-height: 40px;
		}

		h5 {
			font-size: 20px;
			font-weight: 500;
			line-height: 32px;
		}

		h6 {
			font-size: 18px;
			font-weight: 500;
			line-height: 24px;
		}

		/* helper classes for images */
		.m-x-sm {
			margin: get-spacing('x-small')
		}

		.img-100px {
			height: 100px;
			width: 100px;
		}

		.img-150px {
			height: 150px;
			width: 150px;
		}

		.center-image {
			margin: 0 auto;
			display: block;
		}

		/* Don't force small images in tables */
		table td img {
			max-width: unset;
		}

		blockquote {
			@include margin(large auto);
			@include padding(large);
			background: #ECF2F6;
			border-left: 18px solid #115D8B;
			font-style: normal;
			max-width: 800px;

			p {
				font-size: 24px;
				line-height: 40px;
			}

			cite {
				font-size: 20px;
			}
		}

		pre {
			@include padding(medium large);
			background: #f4f4f4;
			display: block;
			margin: get-spacing('large') 0;
			max-width: 900px;
			overflow: auto;

			code {
				background: none;
				padding: 0;
			}
		}

		.highlighter-rouge:first-child > pre {
			margin-top: 0;
		}

		.highlighter-rouge:last-child > pre {
			margin-bottom: 0;
		}

		/* -------------------------- PYGMENTS */

		.highlight pre { color: #3d3d3d; } /* Base Style */
		.highlight .p { color: #3d3d3d; } /* Punctuation */
		.highlight .err { color: #3d3d3d; } /* Error */
		.highlight .n { color: #115D8B; } /* Base Style */
		.highlight .na { color: #115D8B; } /* Name Attribute */
		.highlight .nb { color: #115D8B; } /* Name Builtin */
		.highlight .nc { color: #115D8B; } /* Name Class */
		.highlight .no { color: #115D8B; } /* Name Constant */
		.highlight .nd { color: #115D8B; } /* Name Decorator */
		.highlight .ni { color: #115D8B; } /* Name Entity */
		.highlight .ne { color: #115D8B; } /* Name Exception */
		.highlight .nf { color: #115D8B; } /* Name Function */
		.highlight .nl { color: #115D8B; } /* Name Label */
		.highlight .nn { color: #4CBF9C; } /* Name Namespace */
		.highlight .nx { color: #115D8B; } /* Name Other */
		.highlight .py { color: #115D8B; } /* Name Property */
		.highlight .nt { color: #115D8B; } /* Name Tag */
		.highlight .nv { color: #115D8B; } /* Name Variable */
		.highlight .vc { color: #115D8B; } /* Name Variable Class */
		.highlight .vg { color: #115D8B; } /* Name Variable Global */
		.highlight .vi { color: #115D8B; } /* Name Variable Instance */
		.highlight .bp { color: #115D8B; } /* Name Builtin Pseudo */
		.highlight .g { color: #3d3d3d; } /* Base Style */
		.highlight .gd { color: #3d3d3d; } /*  */
		.highlight .o { color: #3d3d3d; } /* Base Style */
		.highlight .ow { color: #4CBF9C; } /* Operator Word */
		.highlight .c { color: #9A9A9A; font-style: italic; }/* Base Style */
		.highlight .cm { color: #9A9A9A; font-style: italic; } /* Comment Multiline */
		.highlight .cp { color: #9A9A9A; font-style: italic; } /* Comment Preproc */
		.highlight .c1 { color: #9A9A9A; font-style: italic; } /* Comment Single */
		.highlight .cs { color: #9A9A9A; font-style: italic; } /* Comment Special */
		.highlight .k { color: #4CBF9C; } /* Base Style */
		.highlight .kc { color: #4CBF9C; } /* Keyword Constant */
		.highlight .kd { color: #4CBF9C; } /* Keyword Declaration */
		.highlight .kn { color: #4CBF9C; } /* Keyword Namespace */
		.highlight .kp { color: #4CBF9C; } /* Keyword Pseudo */
		.highlight .kr { color: #4CBF9C; } /* Keyword Reserved */
		.highlight .kt { color: #4CBF9C; } /* Keyword Type */
		.highlight .l { color: #3d3d3d; } /* Base Style */
		.highlight .ld { color: #990f69; } /* Literal Date */
		.highlight .m { color: #990f69; } /* Literal Number */
		.highlight .mf { color: #990f69; } /* Literal Number Float */
		.highlight .mh { color: #990f69; } /* Literal Number Hex */
		.highlight .mi { color: #990f69; } /* Literal Number Integer */
		.highlight .mo { color: #990f69; } /* Literal Number Oct */
		.highlight .il { color: #990f69; } /* Literal Number Integer Long */
		.highlight .s { color: #E22866; } /* Literal String */
		.highlight .sb { color: #E22866; } /* Literal String Backtick */
		.highlight .sc { color: #E22866; } /* Literal String Char */
		.highlight .sd { color: #E22866; } /* Literal String Doc */
		.highlight .s2 { color: #E22866; } /* Literal String Double */
		.highlight .se { color: #990f69; } /* Literal String Escape */
		.highlight .sh { color: #E22866; } /* Literal String Heredoc */
		.highlight .si { color: #E22866; } /* Literal String Interpol */
		.highlight .sx { color: #E22866; } /* Literal String Other */
		.highlight .sr { color: #990f69; } /* Literal String Regex */
		.highlight .s1 { color: #E22866; } /* Literal String Single */
		.highlight .ss { color: #E22866; } /* Literal String Symbol */
		.highlight .g { color: #3d3d3d; } /* Base Style */
		.highlight .gd { color: #3d3d3d; } /* Generic Deleted */
		.highlight .ge { color: #3d3d3d; } /* Generic Emph */
		.highlight .gr { color: #3d3d3d; } /* Generic Error */
		.highlight .gh { color: #3d3d3d; } /* Generic Heading */
		.highlight .gi { color: #3d3d3d; } /* Generic Inserted */
		.highlight .go { color: #3d3d3d; } /* Generic Output */
		.highlight .gp { color: #3d3d3d; } /* Generic Prompt */
		.highlight .gs { color: #3d3d3d; } /* Generic Strong */
		.highlight .gu { color: #3d3d3d; } /* Generic Subheading */
		.highlight .gt { color: #3d3d3d; } /* Generic Traceback */
		.highlight .x { color: #3d3d3d; } /* Other */
		.highlight .w { color: #3d3d3d; } /* Text Whitespace */

		p, li {
			code {
				@include padding(0 xx-small);
				background: #f4f4f4;
				line-height: 24px;
			}
		}

		table {
			white-space: normal;
			max-width: 100%;
			overflow: scroll;
			width: 100%;

			thead th {
				background: #eee;
				padding: 10px 10px 10px;
				font-weight: bold;
			}
		}
	}

	&-more {
		@include transition(border normal);
		border-bottom: 1px solid transparent;
		font-size: 18px;
		text-decoration: none;

		&:active,
		&:hover {
			border-color: currentcolor;
			text-decoration: none;
		}
	}

	&.is-excerpt &-header {
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&.is-excerpt &-avatar {
		height: 96px;
		width: 96px;
	}

	&.is-excerpt &-attribution {
		order: 1;
		width: 50%;
	}

	&.is-excerpt &-date {
		order: 2;
		text-align: right;
		width: 50%;
	}

	&.is-excerpt &-title {
		order: 3;
		margin-bottom: 0;
		width: 100%;
	}
}

@include media('<860px') {
	.BlogPost.is-excerpt {
		.BlogPost {
			&-header {
				margin: 20px 0;
			}

			&-title {
				@include line-height('h2');
				@include font-size('h2');
				margin: 20px 0;
			}

			&-date {
				order: 1;
				width: 100%;
				text-align: left;
			}

			&-attribution {
				order: 2;
				width: 100%;
              	padding: 20px 0;

				img {
					width: 56px;
					height: 56px;
				}
			}
		}
	}
}
