.Footer {
  a {
    text-decoration: none;
  }

  .Wrap {
    padding: 0;
  }

  &-links {
    margin-top: 28px;

    li {
      margin-bottom: -10px;

      a {
        padding: 0;
      }
    }

    &--github,
    &--twitter,
    &--forum,
    &--rss {
      margin-bottom: 20px;
    }
  }

  h4 {
    @include font-size('h6');
  }
}

@media (max-width: 859px) {
  .Footer {
    .Logo {
      margin-left: 0;
    }
  }
}