---
layout: master
js: blog
show_bottom_cta: true
scripts:
- //s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56e9a5087c9cc8b8
---

{% comment %}
// assigned variables will "leak" into the included file
// we must capture the content however otherwise {{ content }}
// will leak as a raw string
{% endcomment %}

{% assign post = page %}
{% assign author = site.data.authors[post.author] %}

{% capture _post_content %}
{{ content }}
{% endcapture %}

<section class="Blog is-single StickyAddThis">

	<div class="Blog-social">
		<div class="addthis_toolbox">
			<div class="addthis_single_icon">
				<a class="addthis_button_twitter">
					<span class='icon-twitter'></span>
				</a>
			</div>
			<div class="addthis_single_icon">
				<a class="addthis_button_facebook">
					<span class='icon-facebook'></span>
				</a>
			</div>
			<div class="addthis_single_icon">
				<a class="addthis_button_linkedin">
					<span class='icon-linkedin'></span>
				</a>
			</div>
		</div>
	</div>

	{% include blog_post.html post_content=_post_content %}

</section>
