---
layout: base
---
<section class="PageContent quickstart-page">
  <!-- START Page Content -->
  <div class="PageContent-main" id="docs-body">
    <a id="edit-link" href="{{ site.github_edit_url }}{{ page.relative_path }}">Edit Page</a>
  {{ content }}
  </div>
  <div class="TableOfContents TableOfContentsPreload">
    <a class="TableOfContents-item is-level2" style="display: block;" onclick="scrollToClient()" id="client_setup_link">Client Setup</a>
    <a class="TableOfContents-item is-level2" style="display: block;" onclick="scrollToServer()" id="server_setup_link">Server Setup</a>
  </div><!-- END Page Content -->
</section><!-- END Page Center w/Sub Nav & Content -->
